body {
  background-color: #dddddd;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "about"
    "event"
    "signup"
    "footer";

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #ff0000;
  grid-area: header;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

main {
  padding: 10px;
}


section {
    min-height: 300px;
    padding: 10px;
}

section#hero {
  grid-area: hero;
  padding: 10px;
}

section#about {
  background-color: #9999ff;
  grid-area: about;
  font-size: 18px;
  padding: 10px;
}

section#event {
  background-color: #99ff99;
  grid-area: event;
  font-size: 18px;
  padding: 10px;
}

section#signup {
  background-color: #ff9999;
  grid-area: signup;
  padding: 10px;
}

footer {
  background-color: #ffff99;
  grid-area: footer;
  padding: 10px;
}

@media (min-width: 800px) {
  div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero hero"
      "about about"
      "event signup"
      "footer footer";
  }
}

img {
  max-width: 100%;
}

h2 {
  border: 5px solid #ffffff;
  border-radius: 20px 0 20px 0;
  color: #ffffff;
  padding: 5px;
  text-align: center;
}
